{% if site.baseurl != "/" and site.baseurl != "" %}
{% assign baseurl = site.baseurl %}
{% else %}
{% assign baseurl = "" %}
{% endif %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">

		<!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="/css/syntax.css">

		<!-- Custom CSS -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ baseurl }}/css/style.css">
			<link rel="stylesheet" href="{{ baseurl }}/css/main.css">
		
		<!--[if lt IE 9]>
		<script src="{{ baseurl }}/js/html5shiv.js"></script>
		<![endif]-->

	</head>

<body>
<div id="page" class="hfeed site">
	<header id="masthead" class="site-header" role="banner">
		<hgroup>
			<h1 class="site-title"><a href="{{ baseurl }}/">{{ site.name }}</a></h1>
			{% if site.tag_line != "" %}
				<h2 class="site-description">{{ site.tagline }}</h2>
			{% endif %}
		</hgroup>

		<nav role="navigation" class="site-navigation main-navigation">
			<div class="menu">
				<ul>
					<li>
						<a href="{{ baseurl }}/" title="home">Home</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div id="main" class="site-main">
		{{ content }}
	</div>
</div>
</body>
</html>